<a href="https://colab.research.google.com/github/ManJ-PC/Py/blob/master/CursoEmV%C3%ADdeoMundo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# if carro.esquerda():
#   bloco 1
# elif carro.direita():
#   bloco 2
# elif carro.ré():
#   bloco 3
# else:
#   bloco 4 NO

In [ ]:
# nome = str(input('Qual é o seu nome? '))
# if nome == 'Gustavo':
#   print('Que nome bonito!')
# elif nome in 'Ana Claúdia Jéssica Juliana':
#   print('Belo nome feminino')
# else:
#   print('Seu nome é bem normal.')
# print('Tenha um bom dia, {}!'.format(nome))

**Desafio  036**

Escreva um programa para aprovar o empréstimo bancário para a compra de uma casa. O Programa vai perguntar o valor da casa, o salário do comprador e em quantos anos ele vai pagar.

Calcule o valor da prestação mensal, sabendo que ela não pode exceder 30% do salário ou então o empréstimo será negado.

In [ ]:
# PatrimonyL = float(input('Good Morning to our House Loan\'s Bank!\n Which the value of property that wants to adquire: '))
# Wage = float(input('What is your wage: '))
# T_Age = float(input('How much time lasts bank loan, in years: '))

# MonthPay = PatrimonyL/(T_Age * 12)

# print('The mensal value to pay the house is: ', MonthPay)

# if MonthPay > 0.30 * Wage:
#   print("Empréstimo negado")
# else:
#   print("Aceite!!")

**Desafio 37**

Escreva um programa que leia um número inteiro qualquer e peça para o usuário escolher qual será a **base de conversão**


*   1 para binário
*   2 para octal
*   3 para hexadecimal

In [ ]:
# num = int(input('Insira o valor decimal: '))
# b2 = bin(num)
# o8 = oct(num)
# Ox = hex(num)

# base = str(input('Qual será a base de conversão?\n O <- octal\n H <- hexadecimal\n B or other thing <- binary '))
# if base.upper() == 'O':
#   print(o8)
# elif base.upper() == 'H':
#   print(Ox)
# else:
#   print(b2)

In [ ]:
# def converte2(a,b): #a = bq + r
#   novabase = "" #resto ou r_string
#   r = 0
#   while a>0: #r<a: #r > 0: ...n//b!
#     q = a // b
#     r = a - (q*b)
#     #r = a % b
#     a = q 

#     print(r,'\n')
#     #novabase=str(r)
#     novabase += str(r)
#   novabase = novabase[::-1]
#   #novabase[::-1]
#   #print('\n',novabase[::-1])
#   return novabase

In [ ]:
# def converte(n,b): #n = bq + r
#   # 10b10 = 1010b2  10/2 r1 5/2 r1 2/2 r0 0/2 r0
#   r_string = ""
#   while n//b > 0:
#     r = n%b
#     a = n//b
#     print(r,'\n')
#     r_string += str(r)
#   r_string[::-1]
#   print('')  NO

In [ ]:
# converte2(12,2)

In [ ]:
# converte2(12, 8)

In [ ]:
# Solution
def dec_to_base(num,base): # Maximum base - 36
  base_num = ""
  while num>0:
    dig = int(num%base) # porque este int? 
    if dig<10:
      base_num += str(dig)
    else:
      base_num += chr(ord('A')+dig-10) # Using uppercase Letters
    num //= base

  base_num = base_num[::-1] #To reverse the string
  return base_num

In [ ]:
int("12",8)

10

In [ ]:
ord('a')

97

In [ ]:
ord('A')

65

In [ ]:
chr(94)+chr(93)+chr(92)+chr(91)+chr(90)

'^]\\[Z'

In [ ]:
# Any Base to Decimal

print(int("12",3))
print(int("12",8))
print(int("12",10))
print(int("12",16))

#chr(16)

5
10
12
18

In [ ]:
username = input("Choose a username: ")  # Canita Broa
final_username = username.replace("r", "_")

print("Your username is: " + final_username)

Choose a username: curral
Your username is: cu__al

In [ ]:
for element in final_username: #string_name:
  print(element, end=' ')
print("\n")

c u _ _ a l

In [ ]:
def base_to_dec(num_str, base):
 base_num = 0
 power = 0           # declaration and initialization
 for column in num_str[::-1]: # d
   print(column)
   base_num += int(column) * pow(base, power)  # c = a + b 
   power += 1 # e
 print(base_num)
 #falta a potência!!! Incorporar, dessa forma em vez 12*8 = 96
# We have:

In [ ]:
num_str = "147"
num_str[::-1]

'741'

In [ ]:
base_to_dec("147",8)

7
4
1
103

In [ ]:
base_to_dec("147",8)

7
4
1
103

In [ ]:
print(pow(8,3))
7*64 # valores muito próximos, logicamente... pois base = 8 , 7 imediamente antes!

512

448

In [ ]:
base_to_dec("147",8)

7
4
1
103

In [ ]:
pow(4,4)

256

In [ ]:
pow(4,4,8)

0

In [ ]:
pow(4,4,12)

4

In [ ]:
# a,b,c = 100
# print(c)  .> cannot unpack non-iterable int object

a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [ ]:
def baseToDec(num_str, base): # suporta até base de valor 36 
  num_str = num_str[::-1]
  num = 0
  for k in range(len(num_str)):
    dig = num_str[k]
    if dig.isdigit():
      dig = int(dig)
    else:  # Assuming its either number or alphabet only
      dig = ord(dig.upper())-ord('A')+10
    num += dig*(base**k)
  return num

In [ ]:
baseToDec("147",8)

103

In [ ]:
tries = 5
time = "0"
names = ""
while time:
  tries -= 1
  name = input('Digite seu nome: ')
  if name == 'name':
    break
  names += name
print(names)

Digite seu nome: Manuel
Digite seu nome: guilherme
Digite seu nome: name
Manuelguilherme

**Desafio 038**

Escreva um programa que leia dois números inteiros e compare-os, mostrando na tela uma mensagem:

- O primeiro valor é maior
- O segundo valor é maior 
- Não existe valor maior, os dois são iguais

In [ ]:
n1 = input('Digite o 1º: ')
n2 = input('Digite o 2º: ')
if n1 > n2:
  print('O primeiro valor é maior.')
elif n1 == n2:
  print('\nR: Não existe valor maior, os dois são iguais.')
else:
  print('\nR: O segundo valor é maior')

Digite o 1º: 43
Digite o 2º: 43

R: Não existe valor maior, os dois são iguais.

**Desafio 039**

Faça um programa que leia o ano de nascimento de um jovem e informe, de acordo com sua idade:

- Se ele ainda vai se alistar ao serviço militar.
- Se é na hora de se alistar.
- Se já passou do tempo de alistamento.

Seu programa também deverá mostrar o tempo que falta ou que passou de prazo

In [ ]:
from datetime import date

year = date.today().year
#print(data_atual)
bornYear = int(input('Say your born year: '))

MILITARYAGE = 18 
age = year-bornYear

militaryTime = age - MILITARYAGE

if militaryTime > 0:
  print('Already passed ',militaryTime, ' year(s) since military register' )
elif militaryTime == 0:
  print('Military register is in this year')
else:
  print(abs(militaryTime), 'year(s) to you have military service register day.')

Say your born year: 2004
Military register is in this year

In [ ]:
data_em_texto = '{}/{}/{}'.format(data_atual.day, data_atual.month, data_atual.year)

In [ ]:
data_em_texto

'31/1/2022'

In [ ]:
import datetime

In [ ]:
data_e_hora_atuais = datetime.datetime.now() # truque
data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y')

print(data_e_hora_em_texto)

31/01/2022

In [ ]:
data_e_hora_em_texto = data_e_hora_atuais.strftime('%d/%m/%Y %H:%M')

print(data_e_hora_em_texto)

31/01/2022 11:10

In [ ]:
from datetime import datetime

data_e_hora_em_texto = '17/07/2030 14:61'
#data_e_hora = datetime.strptime(data_em_texto, '%d/%m/%Y %H:%M')
data_e_hora = datetime.strptime(data_e_hora_em_texto, '%d/%m/%Y %H:%M')

ValueError: ignored

In [ ]:
print(data_e_hora)

2030-07-17 14:37:00

**Desafio 40**

Crie um programa que leia duas notas de um aluno e calcule sua média, mostrando uma mensagem no final, de acordo com a média atingida:
- Média abaixo de 5.0:  REPROVADO

- Média entre 5.0 e 6.9: RECUPERAÇÃO

- Média 7.0 ou superior: APROVADO

In [5]:
grade1 = float(input('Tell your first grade: '))
grade2 = float(input('Tell me your second grade: '))

avg = round((grade1+grade2)/2,1) # se 6.0 e 3.9 dá RECUPERAÇÃO

if avg < 5.0:
  print('REPROVADO')
elif avg < 7.0: 
  print('RECUPERAÇÃO')
else:
  print('APROVADO')

Tell your first grade: 5.9
Tell me your second grade: 3.99999
REPROVADO

**Desafio 41**

A Confederação Nacional de Natação precisa de um programa que leia o ano de nascimento de um atleta e mostre sua categoria, de acordo com a idade:

- Até 9 anos: MIRIM
- Até 14 anos: INFANTIL
- Até 19 anos: JUNIOR
- Até 30 anos: SÊNIOR
- Acima: MASTER

In [1]:
bornYear = int(input('Athlete, say your born year: '))

if bornYear <= 9:
  print('MIRIM')
elif bornYear <= 14:
  print('INFANTIL')
elif bornYear <= 19:
  print('JUNIOR')
elif bornYear <= 30:
  print('SÊNIOR')
else:
  print('MASTER')

Athlete, say your born year: 54
MASTER

**DESAFIO 42**

Refaça o Desafio 35 dos triângulos, acrescentando o recurso de mostrar que tipo de triângulo será formado:

* **Equilátero**: todos os lados iguais
* **Isósceles**: dois lados iguais
* **Escaleno**: todos os lados diferentes

In [2]:
def triangletype(s1,s2,s3):
  if s1 == s2 and s2 == s3:
    print('Equilateral')
  elif s1 == s2 or s1 == s3 or s2 == s3:
    print('Isosceles')
  else:
    print('Scalene')

In [10]:
triangletype(2,3,4)

Scalene

In [7]:
def triangletype2(s1,s2,s3):
  if s1 == s2:
    if s1 == s3:
      print('Equilateral')
    else: print('Isosceles')
  elif s1 == s3 or s2 == s3:
    print('Isosceles')
  else: print('Scalene')

In [8]:
triangletype2(4,2,5)

Scalene

In [9]:
triangletype2(3,3,5)

Isosceles