<a href="https://colab.research.google.com/github/ManJ-PC/Py/blob/master/CursoEmV%C3%ADdeoMundo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# if carro.esquerda():
#   bloco 1
# elif carro.direita():
#   bloco 2
# elif carro.ré():
#   bloco 3
# else:
#   bloco 4

In [2]:
nome = str(input('Qual é o seu nome? '))
if nome == 'Gustavo':
  print('Que nome bonito!')
elif nome in 'Ana Claúdia Jéssica Juliana':
  print('Belo nome feminino')
else:
  print('Seu nome é bem normal.')
print('Tenha um bom dia, {}!'.format(nome))

Qual é o seu nome? 76
Seu nome é bem normal.
Tenha um bom dia, 76!

**Desafio  036**

Escreva um programa para aprovar o empréstimo bancário para a compra de uma casa. O Programa vai perguntar o valor da casa, o salário do comprador e em quantos anos ele vai pagar.

Calcule o valor da prestação mensal, sabendo que ela não pode exceder 30% do salário ou então o empréstimo será negado.

In [3]:
PatrimonyL = float(input('Good Morning to our House Loan\'s Bank!\n Which the value of property that wants to adquire: '))
Wage = float(input('What is your wage: '))
T_Age = float(input('How much time lasts bank loan, in years: '))

MonthPay = PatrimonyL/(T_Age * 12)

print('The mensal value to pay the house is: ', MonthPay)

if MonthPay > 0.30 * Wage:
  print("Empréstimo negado")
else:
  print("Aceite!!")

Good Morning to our House Loan's Bank!
 Which the value of property that wants to adquire: 23
What is your wage: 434
How much time lasts bank loan, in years: 8
The mensal value to pay the house is:  0.23958333333333334
Aceite!!

**Desafio 37**

Escreva um programa que leia um número inteiro qualquer e peça para o usuário escolher qual será a **base de conversão**


*   1 para binário
*   2 para octal
*   3 para hexadecimal

In [4]:
num = int(input('Insira o valor decimal: '))
b2 = bin(num)
o8 = oct(num)
Ox = hex(num)

base = str(input('Qual será a base de conversão?\n O <- octal\n H <- hexadecimal\n B or other thing <- binary '))
if base.upper() == 'O':
  print(o8)
elif base.upper() == 'H':
  print(Ox)
else:
  print(b2)

Insira o valor decimal: 67
Qual será a base de conversão?
 O <- octal
 H <- hexadecimal
 B or other thing <- binary b
0b1000011

In [5]:
def converte2(a,b): #a = bq + r
  novabase = "" #resto ou r_string
  r = 0
  while a>0: #r<a: #r > 0: ...n//b!
    q = a // b
    r = a - (q*b)
    #r = a % b
    a = q 

    print(r,'\n')
    #novabase=str(r)
    novabase += str(r)
  novabase = novabase[::-1]
  #novabase[::-1]
  #print('\n',novabase[::-1])
  return novabase

In [6]:
# def converte(n,b): #n = bq + r
#   # 10b10 = 1010b2  10/2 r1 5/2 r1 2/2 r0 0/2 r0
#   r_string = ""
#   while n//b > 0:
#     r = n%b
#     a = n//b
#     print(r,'\n')
#     r_string += str(r)
#   r_string[::-1]
#   print('')

In [7]:
converte2(12,2)

0

0

1

1

'1100'

In [8]:
converte2(12, 8)

4

1

'14'

In [9]:
# Solution
def dec_to_base(num,base): # Maximum base - 36
  base_num = ""
  while num>0:
    dig = int(num%base) # porque este int? 
    if dig<10:
      base_num += str(dig)
    else:
      base_num += chr(ord('A')+dig-10) # Using uppercase Letters
    num //= base

  base_num = base_num[::-1] #To reverse the string
  return base_num

In [10]:
int("12",8)

10

In [11]:
ord('a')

97

In [12]:
ord('A')

65

In [13]:
chr(94)+chr(93)+chr(92)+chr(91)+chr(90)

'^]\\[Z'

In [14]:
# Any Base to Decimal

print(int("12",3))
print(int("12",8))
print(int("12",10))
print(int("12",16))

#chr(16)

5
10
12
18

In [15]:
username = input("Choose a username: ")  # Canita Broa
final_username = username.replace("r", "_")

print("Your username is: " + final_username)

Choose a username: hugo
Your username is: hugo

In [16]:
for element in final_username: #string_name:
  print(element, end=' ')
print("\n")

h u g o

In [17]:
def base_to_dec(num_str, base):
 base_num = 0
 power = 0           # declaration and initialization
 for column in num_str[::-1]: # d
   print(column)
   base_num += int(column) * pow(base, power)  # c = a + b 
   power += 1 # e
 print(base_num)
 #falta a potência!!! Incorporar, dessa forma em vez 12*8 = 96
# We have:

In [18]:
num_str = "147"
num_str[::-1]

'741'

In [19]:
base_to_dec("147",8)

7
4
1
103

In [20]:
base_to_dec("147",8)

7
4
1
103

In [21]:
print(pow(8,3))
7*64 # valores muito próximos, logicamente... pois base = 8 , 7 imediamente antes!

512

448

In [22]:
base_to_dec("147",8)

7
4
1
103

In [23]:
pow(4,4)

256

In [24]:
pow(4,4,8)

0

In [25]:
pow(4,4,12)

4

In [26]:
# a,b,c = 100
# print(c)  .> cannot unpack non-iterable int object

a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [27]:
def baseToDec(num_str, base): # suporta até base de valor 36 
  num_str = num_str[::-1]
  num = 0
  for k in range(len(num_str)):
    dig = num_str[k]
    if dig.isdigit():
      dig = int(dig)
    else:  # Assuming its either number or alphabet only
      dig = ord(dig.upper())-ord('A')+10
    num += dig*(base**k)
  return num

In [28]:
baseToDec("147",8)

103

In [31]:
tries = 5
time = "0"
names = ""
while time:
  tries -= 1
  name = input('Digite seu nome')
  if name == 'name':
    break
  names += name
print(names)

Digite seu nomeCarlos
Digite seu nomeRui
Digite seu nomename
CarlosRui