<a href="https://colab.research.google.com/github/ManJ-PC/Py/blob/master/CursoemV%C3%ADdeoMundo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''variável composta: tuplas, lista, dicionário

strings, fatiamento... dentro do pyython tmb funciona ..., 

colchetes, durante o fatiamento ... divisão


lanche -1 começa no fim!
estruturas de repetição, ...

iteração da estrutura


for com o range e para coleções (variáveis compostas como a tupla).

termo : as tuplas são imutáveis... não é possível trocar (tirar o pudim da tuplas. fica assim durante o programa diferente!)'''

'variável composta: tuplas, lista, dicionário\n\nstrings, fatiamento... dentro do pyython tmb funciona ..., \n\ncolchetes, durante o fatiamento ... divisão\n\n\nlanche -1 começa no fim!\nestruturas de repetição, ...\n\niteração da estrutura\n\n\nfor com o range e para coleções (variáveis compostas como a tupla).\n\ntermo : as tuplas são imutáveis... não é possível trocar (tirar o pudim da tuplas. fica assim durante o programa diferente!)'

In [4]:
'''
3 tipos de variáveis compostas:
tuple      <- ()  # entender cada uma delas (o que pode ser feito com elas) e as diferenças entre as v.c
list       <- [] # colchete
dictionary <- {}
'''

lanche = 2 # variável, é um espaço na memória, simples
lanche = 3 # substitui o que estava na memória

lanche = (1,3,2,4) # 3 possibilidades de armazenar 4 valores numa variável (composta, em forma de tuple, list or dictionary)

# fatiamento, como aconteceu com as strings

# analogia as strings, que tmb já são variáveis compostas (manipulação), funcionar antes da aula...
lanche[0] # elementos diferentes, como posso acessar a esses elementos da tupla ...? através dos índices
# manipulação das strings, através do fatiamento!

1

In [5]:
lanche
lanche[0:2] # exclui o index 2 que é o 3º elemento
lanche[1:] # 1: écomece no 1 e vai até ao final, fatiamento simples
lanche[-1] # último elemento (começa no final quando tem menos)
len(lanche) # size, repetições while, while TRUE infinito + break para interromper, for

for c in lanche: # implica a iteração, em relação ao C
  print(c) # for utilizando com o método range bem como em tupla etc. este 4 são os índexes 0,1,2,3

1
3
2
4

In [6]:
# tuplas são imutáveis, não conseguimos mudar a tupla ... só correndo de novo o programa

#lanche = 'Hambúrguer'
#lanche = 'Suco'

# lanche = ('Hambúrguer') # a partir do python 3.5 nem precisamosde colocar parentisis ... ora teste na linha abaixo
lanche = 'Hambúrguer', 'Suco', 'Pizza', 'Pudim'
lanche = ('Hambúrguer', 'Suco', 'Pizza', 'Pudim')
print(lanche[1])
print(lanche[-2])
print(lanche[1:3]) # desconsidera o último elemento, mostra um pedaço da tupla
print(lanche[2:])
print(lanche[:2]) # mostra os elementos c/ indexes 0 e 1
print(lanche[-4:-2]) # pensar na vírgulas com interregnios , contar as vírgulas como se fizessem barreiras e as últimas são os próprios colchetes. Isto mais útil quando são : pedaços, mas ele por norma segue para a direita -2: conta 2 vírgulas a contar do final e depois vai até ao final (mesmo caminho.); se for :-2 é do início e depois começa a contar do fim até 2 virgulas e highlited o que está no meio!
print(lanche[-2:])

Suco
Pizza
('Suco', 'Pizza')
('Pizza', 'Pudim')
('Hambúrguer', 'Suco')
('Hambúrguer', 'Suco')
('Pizza', 'Pudim')

In [7]:
lanche[-3:]

('Suco', 'Pizza', 'Pudim')

In [8]:
lanche[:-2]
lanche[:-3] # mostra a vírgula, que interessante!

('Hambúrguer',)

In [9]:
print(lanche[0:5]) # funciona igual ..

('Hambúrguer', 'Suco', 'Pizza', 'Pudim')

In [10]:
# Tuplas são imutáveis

# lanche[1] = 'Refrigerante' # TypeError: 'tuple' object does not support item assignment
print(lanche[1])

for comida in lanche:
  print(f'Eu vou comer {comida}')#lanche[1]}')
print('Comi pra Caramba!')

Suco
Eu vou comer Hambúrguer
Eu vou comer Suco
Eu vou comer Pizza
Eu vou comer Pudim
Comi pra Caramba!

In [11]:
lanche = ('Hambúrguer', 'Suco', 'Batata Frita', 'Pizza', 'Pudim')

for cont in range(0, len(lanche)):
  print(f' Vou comer {lanche[cont]} na posição {cont}')

 Vou comer Hambúrguer na posição 0
 Vou comer Suco na posição 1
 Vou comer Batata Frita na posição 2
 Vou comer Pizza na posição 3
 Vou comer Pudim na posição 4

In [13]:
lanche = ('Hambúrguer', 'Suco', 'Batata Frita', 'Pizza', 'Pudim')

for index, element in enumerate(lanche):
  print(f' Vou comer {element} na posição {index}')  # enumerate retorna ...

 Vou comer Hambúrguer na posição 0
 Vou comer Suco na posição 1
 Vou comer Batata Frita na posição 2
 Vou comer Pizza na posição 3
 Vou comer Pudim na posição 4

In [14]:
del index, element

In [15]:
for pos, comida in enumerate(lanche):
  print(f'Eu vou comer {comida} na posição {pos}')

Eu vou comer Hambúrguer na posição 0
Eu vou comer Suco na posição 1
Eu vou comer Batata Frita na posição 2
Eu vou comer Pizza na posição 3
Eu vou comer Pudim na posição 4

In [16]:
name_list = ['Jane', 'John', 'Mike']
list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]

In [17]:
name_list = ('Jane', 'John', 'Mike')
list(enumerate(name_list))

[(0, 'Jane'), (1, 'John'), (2, 'Mike')]

In [18]:
name = "Eric"
profession = "comedian"
affiliation = "Monty Python"
message = (
  f"Hi {name}. "
  f"You are a {profession}. "
  f"You were in {affiliation}."
)
message

'Hi Eric. You are a comedian. You were in Monty Python.'

In [19]:
print(lanche)
print(sorted(lanche)) # #não mudou#, apenas colocou em ordem! não altera simplestemente coloca em ordem
print(lanche) # estado natural

('Hambúrguer', 'Suco', 'Batata Frita', 'Pizza', 'Pudim')
['Batata Frita', 'Hambúrguer', 'Pizza', 'Pudim', 'Suco']
('Hambúrguer', 'Suco', 'Batata Frita', 'Pizza', 'Pudim')

In [20]:
a = (2,5,4)
b = (5,8,1,2)
print(a)
print(b)
c = b + a
print(c) # junta as tuplas, a ordem tem total influência! Mais uma funcionalidade aí!
print(len(c))

print(c.count(5)) # o cinco aparece duas vezes
print(c.count(9))

print(c.index(8))# em que posição está o 8
print(c.index(5))# vai buscar o local da 1ª ocurrência

print(c.index(5,1))# se for buscar após a 1ª posição, segundo argumento da função, deslocamento segundo argumento

(2, 5, 4)
(5, 8, 1, 2)
(5, 8, 1, 2, 2, 5, 4)
7
2
0
1
0
5

In [21]:
pessoa = (1,2,3)

pessoa = ('Gustavo', 39, 'M', 99.88) # aceita vários tipos de dados, em outras linguagens não (na generalidade)/ dados de tipos diferentes na tupla
print(pessoa)

#del(pessoa[0]) #TypeError: 'tuple' object doesn't support item deletion

('Gustavo', 39, 'M', 99.88)

In [22]:
del (pessoa)# apagar uma variável
#pessoa # NameError: name 'pessoa' is not defined

# Desafio 072

Crie um programa que tenha uma **tupla** totalmente prenchida com uma contagem por extenso, de **zero** até **vinte**.

Seu programa deverá ler um número pelo teclado (entre 0 e 20) e mostrá-lo por **extenso**.

In [23]:
tupla = ('zero', 'um', 'dois', 'três', 'quatro', 'cinco', 'seis', 'sete', 'oito', 'nove', 'dez', 'onze', 'doze', 'treze', 'catorze', 'quinze', 'dezesseis', 'dezassete', 'dezoito', 'dezanove', 'vinte')

for seq in range(0,21):
  print(tupla[seq])

zero
um
dois
três
quatro
cinco
seis
sete
oito
nove
dez
onze
doze
treze
catorze
quinze
dezesseis
dezassete
dezoito
dezanove
vinte

In [24]:
userNum = int(input('Please, say a number in interval between [0,20]: '))
while userNum < 0 or userNum > 20:
  userNum = int(input('Please try again!\n\n Say a number in interval between [0,20]: '))
for seq in tupla:
  print(f'You choose {tupla[userNum]}')
  break

Please, say a number in interval between [0,20]: 56
Please try again!

 Say a number in interval between [0,20]: 19
You choose dezanove

# Desafio 073

Crie uma **tupla** preenchida com os **20 primeiros** colocados da Tabela do **Campeonato Brasileiro de Futebol**, na ordem de colocação. Depois mostre:

A) Apenas os **5** **primeiros** colocados.

B) Os **últimos 4** colocados da tabela.

C) Uma lista com os times em **ordem alfabética**.

D) Em que **posição** na tabela está o time da **Chapecoense**.

In [54]:
tupla = ('Palmeiras', 'Corinthians', 'Fluminense', 'Athletico-PR', 'Flamengo', 'Internacional', 'Atlético-MG', 'Bragantino', 'Santos', 'São Paulo', 'Goías', 'Botafogo', 'América-MG', 'Ceará SC', 'Coritiba', 'Avaí', 'Cuiabá', 'Fortaleza', 'Atlético-GO', 'Juventude'  )


#A
best = 5

for clubs in range(0, best):
  print(f'{clubs+1} - {tupla[clubs]}')

print(' - - - ')


for clubs in range(len(tupla)-best+1, len(tupla)):
  print(f'{clubs+1} - {tupla[clubs]}')
# Como não há Chapecoense, emito a mensagem que não está no Brasileirão e por exemplo a equipa tal tal está no lugar tal

1 - Palmeiras
2 - Corinthians
3 - Fluminense
4 - Athletico-PR
5 - Flamengo
 - - -
17 - Cuiabá
18 - Fortaleza
19 - Atlético-GO
20 - Juventude

In [64]:
for clubs in range(0, best-1):
  print(f'{len(tupla)-best+clubs+2} - {tupla[-best+clubs]}')
# Como não há Chapecoense, emito a mensagem que não está no Brasileirão e por exemplo a equipa tal tal está no lugar tal

17 - Avaí
18 - Cuiabá
19 - Fortaleza
20 - Atlético-GO

In [43]:
better = tupla[:5]
for turma in better:
  print(turma)

Palmeiras
Corinthians
Fluminense
Athletico-PR
Flamengo

In [87]:
worst = tupla[len(tupla)-4:]
for turma in worst:
  print(f'{tupla.index(turma)+1} - {turma}') # len(tupla)-4

17 - Cuiabá
18 - Fortaleza
19 - Atlético-GO
20 - Juventude

In [47]:
for teams in tupla[:5]:
  print(teams)

Palmeiras
Corinthians
Fluminense
Athletico-PR
Flamengo

In [84]:
for teams in tupla[len(tupla)-4:]:
  print(f'{tupla.index(teams)+1} - {teams}')

17 - Cuiabá
18 - Fortaleza
19 - Atlético-GO
20 - Juventude

In [34]:
tupla[:5]

('Palmeiras', 'Corinthians', 'Fluminense', 'Athletico-PR', 'Flamengo')

In [90]:
for count, value in enumerate(tupla[:5]):
  print(count+1, value)
print('---') 
for count, value in enumerate(tupla[len(tupla)-best+1:]):
  print(len(tupla)-(best-1) + (count+1), value)

1 Palmeiras
2 Corinthians
3 Fluminense
4 Athletico-PR
5 Flamengo
---
17 Cuiabá
18 Fortaleza
19 Atlético-GO
20 Juventude

In [105]:
# C) 

ord_tuple = list(tupla)

ord_tuple.sort()
print(ord_tuple)

['América-MG', 'Athletico-PR', 'Atlético-GO', 'Atlético-MG', 'Avaí', 'Botafogo', 'Bragantino', 'Ceará SC', 'Corinthians', 'Coritiba', 'Cuiabá', 'Flamengo', 'Fluminense', 'Fortaleza', 'Goías', 'Internacional', 'Juventude', 'Palmeiras', 'Santos', 'São Paulo']

In [95]:
dir(tupla)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# D) Em que posição está o Internacional
def lookPos(team):
  pos = 0
  for index, teams in enumerate(tupla) :
    if teams == team:#'Chapecoense':
      pos = index
  return pos

In [132]:
cardinalidade = ('st', 'nd', 'rd', 'th') # fazer para a ...

In [133]:
lookupT = ['Chapecoense', 'Internacional']
for index, teams in enumerate(lookupT):
  if(lookPos(lookupT[index])):
    print(f'The {lookupT[index]} is in the {lookPos(lookupT[index])+1}th position') # place of ')
    break
  else:
    print(f"{lookupT[index]} team  doesn't play in this competition!")

Chapecoense team  doesn't play in this competition!
The Internacional is in the 6th position

In [118]:
del index, teams

0

In [117]:
pos = 0
for index, teams in enumerate(tupla) :
    if teams == 'Chapecoense':
      pos = index
print(pos)

0